extends ../include/layout/default.pug

block content
	include ../include/elem/user/mixins.pug

	.users-all
		.container-fluid
			.content-head-fix
				button.btn.btn-info.mb-4.d-lg-none(
					href="#collapseFilter"
					data-toggle="collapse"
					role="button"
					aria-expanded="false"
					aria-controls="collapseFilter"
				)
					i(data-feather="filter")
					span.ml-3 Фильтр

				#collapseFilter.collapse.users-filter.d-lg-block
					+usersFilter()
		
			ul.list-unstyled.users-list.row
				- for (let i = 0; i < 10; ++i) {
					li.col-xxxl-3.col-xxl-4.col-md-6.mb-3
						.h-100
							+userCard(true)
				- }

			.js-scroll-load.list-more-loader.text-center.mt-5.mb-5
				.spinner-border.text-primary(role='status')
					span.sr-only Loading...
