form.form-signin(action="questionary.html")
	.form-group
		label.col-form-label(for="inputName") Your name
		input.form-control#inputName(
			type="text" 
			placeholder="Name" 
			autofocus
		)
	.form-group
		label.col-form-label(for="inputEmail") Your email address
		input.form-control#inputEmail(
			type="email" 
			placeholder="Email"
		)
	.form-group
		label.col-form-label(for="inputPassword") Your password
		input.form-control#inputPassword(
			type="password" 
			placeholder="Password"
		
		)
	button.btn.btn-lg.btn-success.btn-block.mt-4(type="submit") Sign up for MyFriends