form.form-signin(action="profile.html")
	.form-group
		label(for="fieldSigninEmail")
			small Ваш Email адрес
		input#fieldSigninEmail.form-control.is-valid(
			value="user@mail.com"
			type="email" 
			placeholder="Email" 
			autofocus
		)
	.form-group
		label(for="fieldSigninPassword")
			small Ваш пароль
		input#fieldSigninPassword.form-control.is-valid(
			value="123456"
			type="password" 
			placeholder="Password"
		)
	.form-group
		.custom-control.custom-checkbox
			input.custom-control-input#rememberCheck(type="checkbox")
			label.custom-control-label(for="rememberCheck")
				small Запомнить
			
	button.btn.btn-lg.btn-info.btn-block.mt-4(type="submit") Войти