mixin userCard(innerList)
	.card-profile.card.border-info.mb-3(class=innerList ? 'm-inner-list' : '')
		.position-relative.overflow-hidden
			if innerList
				a(href="profile.html")
					img.card-img-top(src="http://placeimg.com/400/400/people" alt=" ")
			else
				a(data-toggle="modal" href="#userPhotoModal")
					img.card-img-top(src="http://placeimg.com/400/400/people" alt=" ")

			if innerList
				.image-header-abs.absoute-top
					span
					+similarValue()

			.image-footer-abs.absoute-bottom
				a.btn.btn-info(
					title="Invite John to ..."
					href="#"
				)
					i(data-feather="coffee")
					span.ml-2 Invite

				a.btn.btn-success(
					title="Write a message to John"
					href="messages.html"
				)
					i(data-feather="message-square")
					span.ml-2 Write
		.card-body
			if innerList
				h3.text-info John Doe
			else
				h1.text-info John Doe
					
			dl.row
				dt.col-xl-4.col-lg-12 Age
				dd.col-xl-8.col-lg-12 23
				dt.col-xl-4.col-lg-12 City
				dd.col-xl-8.col-lg-12
					i(data-feather="map-pin")
					span.pl-2 Boston
				dt.col-xl-4.col-lg-12 Interests
				dd.col-xl-8.col-lg-12
					a.btn.btn-outline-info.btn-sm(href="#") development
					a.btn.btn-outline-info.btn-sm(href="#") bike
					a.btn.btn-outline-info.btn-sm(href="#") dogs
					a.btn.btn-outline-info.btn-sm(href="#") travel
					a.btn.btn-outline-info.btn-sm(href="#") lorem ipsum

mixin similarLine()
	.user-similarity.d-flex.align-items-center.mb-5(title="You look like at 75%")
		.pr-3
			.display-4.text-right.text-success
				i(data-feather="activity")
				span.ml-2 75%
		.flex-grow-1
			.progress
				.progress-bar.bg-success(
					style="width: 75%" 
					aria-valuenow="75" 
					aria-valuemin="0" 
					aria-valuemax="100"
				)
				.progress-bar.bg-warning(
					style="width: 25%" 
					aria-valuenow="25" 
					aria-valuemin="0" 
					aria-valuemax="100"
				)

mixin similarValue()
	.h4
		.badge.badge-success.font-weight-normal(title="You look like at 75%")
			i(data-feather="activity")
			span.ml-2 75%

mixin usersFilter ()
	form.d-flex.align-item-top
		.form-group.pr-5
			label.d-block(
				for="fieldCountry"
			)
				small.text-secondary Страна
			select#fieldCountry.selectpicker(
				data-live-search="true"
			)
				option Весь мир
				option Беларусь
				option Россия
				option Украина

		.form-group.pr-5
			label.d-block(
				for="fieldCountry"
			)
				small.text-secondary Город
			select#fieldCountry.selectpicker(
				data-live-search="true"
			)
				option Все города
				option Москва
				option Уфа
				option Екатеринбург

		.form-group.pr-5
			label.d-block(
				for="fieldSex"
			)
				small.text-secondary Пол
			select#fieldSex.selectpicker(
				
			)
				option Любой
				option Мужской
				option Женский

		.form-group.pr-5
			label.d-block(
				for="fieldAgeFrom"
			)
				small.text-secondary Возраст
			.w-100
				select#fieldAgeFrom.selectpicker(
					data-width="auto"
				)
					option От
					- for (let i = 18; i <= 80; ++i) {
						option= i
					- }
				span &nbsp;&ndash;&nbsp;
				select#fieldAgeTo.selectpicker(
					data-width="auto"
				)
					option До
					- for (let i = 18; i <= 80; ++i) {
						option= i
					- }

		.form-group.pr-5
			label.d-block(
				for="fieldSimilarity"
			)
				small.text-secondary Схожесть
			select#fieldSimilarity.selectpicker(
				
			)
				option Все
				option Больше 50%
				option Больше 60%
				option Больше 70%
				option Больше 80%
				option Больше 90%